/* 
  #EDEDED - main background color
  #222222 - main text color
  #B53D35 - headings, draw user attention
  #E74C42 - buttons, nav links, interactive elements, etc.
*/

/* This needs to be in every external stylesheet you create from now on */
* {
  line-height: 150%;
}

/* This needs to be in every external stylesheet you create from now on */
html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: sans-serif;
  font-size: 1.8rem;
  background-color: #ededed;
}
header {
  margin-left: 40%;
}
h1 {
  font-family: "Noto Serif", serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  position: relative;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-linear-gradient(#033747, #012733);
  background-image: -moz-linear-gradient(#033747, #012733);
  background-image: -o-linear-gradient(#033747, #012733);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#033747),
    to(#012733)
  );
  background-image: -webkit-gradient(linear, left top, left bottom, from(#033747), to(#012733));
  background-image: linear-gradient(#033747, #012733);
}

nav ul {
  position: absolute;
  top: 50%;
  right: 0;

  float: right;
  list-style: none;

  margin: 0;

  -webkit-transform: translateY(-50%);

  -moz-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  -o-transform: translateY(-50%);

  transform: translateY(-50%);
}

nav li {
  display: inline-block;
}

nav li a,
nav li a:visited {
  text-transform: uppercase;
  padding: 0px 30px;
  color: white;
  text-decoration: none;
}

nav li a:hover,
nav li a:focus {
  color: #ff8c69;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
a {
  color: #033747;
}
a:visited {
  color: #001b23;
}
a:hover,
a:active {
  color: rgba(0, 123, 255, 0.769);
  /*hover: turquoise;*/
}

/*---Classes ---*/
.text {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
}
.bold-text {
  font-weight: bold;
}
span {
  font-weight: bold;
}

#treaty-terms {
  margin: 50px;
}

.column {
  float: left;
  width: 48%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center-text {
  text-align: justify;
  padding: 5%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

footer {
  font-weight: bolder;
  margin-left: 5%;
}
